/*SCSS style for If you could - my final project for the NYCDA x BSSA*/
// Background photos via Unsplash.com --> check it out for awesome free stockphotos!

* {
  margin: 0;
  padding: 0;
}


// Fonts, headlines, paragraph sizes etc.

@font-face {
  font-family: 'TrajanusBricks';
  src: url('/fonts/TrajanusBricks.ttf');
}


@font-face {
  font-family: 'Carolus Italic';
  src: url('/fonts/carolusi.ttf');
}

@font-face {
    font-family: 'raleway-regular';
    src: url('/fonts/raleway-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$fontOne: 'TrajanusBricks';
$fontTwo: 'Carolus Italic';
$fontThree:'raleway-regular';


p {
  &#headline {
    text-align: center;
    font-family: $fontOne;
    font-size: 30px;
    font-style: none;
  }
  &#headline2 {
    @extend #headline;
    font-size: 20px;
  }
  &#small{
    font-family: $fontThree;
    font-size: 20px;
  }
  &#why{
    font-family: $fontThree;
    font-size: 18px;
  }
}

h2, p {
  text-align: center;
  font-family: $fontThree;
  font-size: 30px;
  color:black;
}

li {
  display: inline-block;
  list-style-type: none;
  width: 80%;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 20px;
  vertical-align: top;
  font-family: $fontOne;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
  font-family: $fontOne;
  font-size: 12px;
  font-style: bold;
  &#boxLink {
    @extend #headline;
    font-size: 50px;
    text-shadow: 2px 1px 2px #303030;
  }
  &.white{
    color: white;
  }
}


// Wrappers, forms and boxes: positions etc.

body {
  background-image: url('photoPaulSummers.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 0;
  overflow: hidden;
}

.bodyTextdiv {
  z-index: 5;
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 20px;
  text-align: center;
  overflow: auto;
  &#why{
    background-color: white;
    opacity: 0.8;
  }
}

#index{
  animation:initial-fade 2s infinite ease-in-out alternate;
}

.twoForms {
  display: inline-block;
  text-align: center;
  margin: 100px;
}

.boxes {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 50%;
}

#box1 {
  left: 0;
  top: 0;
  background-image: url('photoSérgioRola.jpg');
  vertical-align: middle;
}

#box2 {
  right: 0;
  top: 0;
  background-image: url('photoEdewaaFoster.jpg');
}

#box3 {
  right: 0;
  bottom: 0;
  background-image: url('photoBrandonMorgan.jpg'); 
}

#box4 {
  left: 0;
  bottom: 0;
  background-image: url('photoLoretaPavoliene.jpg');
}

.links {
  position: absolute;
  text-align: right;
  right: 5px;
  top: 5px;
  z-index: 6;
}

.back{
  position: absolute;
  left: 5px;
  top: 5px;
}

// Forms fonts and sizes and some styling

.login, .register, .edit {
  font-family: $fontOne;
  text-align: center;
  width: 80%;
  margin: auto;
}

label {
  font-family: $fontOne;
  font-style: none;
  font-weight: normal;
  font-size: 20px;
}

input {
  &[type=text], &[type=age], &[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: none;
    font-family: $fontThree;
    font-size: 20px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 2px #303030;
  }
  &.advice {
    width: 100%;
    height: 200px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: none;
    text-align: center;
  }
  &[value]{
    color: #534646;
  }
  &[type=submit] {
    background-color: white;
    border: none;
    width: 250px;
    height: 50px;
    color: black;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    text-align: center;
    font-family: $fontOne;
    box-shadow: 2px 2px 2px #303030;
  }
}

.why{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.why a{
  font: $fontOne;
  font-size: 25px;   
  color: white;
  text-shadow: 2px 2px 2px #303030;
}

// Index buttons

@keyframes initial-fade{
  0%{
    -webkit-filter: opacity(1);
  }
  100%{
    -webkit-filter: opacity(0.4);
  }
}