doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/styles.css', type ='text/css')
	body
		div.bodydiv
		div.bodyTextdiv
			div(class='back') 
				a(href='/') home
			br
			p= message
			br 
			br
			br
			br
			br
			br
			br
			br
			form(class= 'register' name= 'post' action='/user/new/advice' method='post')
				label w h a t ^ i ^ w o u l d ^ t e l l ^ m y ^ y o u n g e r ^ s e l f
				input(class= 'advice' type='text' name = 'advice' autocomplete='off')
				br
				br
				br
				br
				input(type='submit' value='e n t e r') 


