doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/styles.css', type ='text/css')
	body
		div.bodydiv
		div.bodyTextdiv
			br
			br
			br
			br
			p#headline if you could,  
			br
			p#headline what would you tell your younger self?
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br 
			br
			p= message
			br
			br
			div.twoForms 
				form(class='form' name='post' action='/login' method='get')
					input(type='submit' value='l o g i n')
			div.twoForms
				form(class= 'form' name= 'post' action='/user/new' method='get')
					input(type='submit' value='r e g i s t e r')




