doctype html
html(lang='en')
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
		link(rel='stylesheet', href='/styles.css', type ='text/css')
		script(src="https://code.jquery.com/jquery-2.2.2.js"   integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="   crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
	body
		div.bodydiv
		div.bodyTextdiv
			br
			br
			br
			p#headline i^f^ ^ y^o^u ^ c^o^u^l^d,
			br
			br
			br
			p#headline2 w^h^a^t ^ w^o^u^l^d ^ y^o^u ^ t^e^l^l ^ y^o^u^r ^ y^o^u^n^g^e^r ^ s^e^l^f^? 
			br
			br
			br
			br
			br
			br
			br
			p= message
			br
			br
			div#index
				div.twoForms 
					form(class='form' name='post' action='/login' method='get')
						input(type='submit' value='l o g i n')
				div.twoForms
					form(class= 'form' name= 'post' action='/user/new' method='get')
						input(type='submit' value='r e g i s t e r')
		div.why
			a(href='/why') why
				//- div.something
		//- 	video(width='100%', autoplay='', loop='')
		//- 		source(src='two-bearded-men-man-and-mountain-scenics-16414-filmsupply.mov', type='video/mp4')

