doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='/styles.css', type ='text/css')
	body
		div.bodydiv
		div.bodyTextdiv
			br
			br
			br
			br
			p#headline i^f^ ^ y^o^u ^ c^o^u^l^d,
			br
			br
			br
			p#headline2 w^h^a^t ^ w^o^u^l^d ^ y^o^u ^ t^e^l^l ^ y^o^u^r ^ y^o^u^n^g^e^r ^ s^e^l^f^? 
			br
			br
			br
			br
			br
			br
			br
			br
			p= message
			br
			br
			div.twoForms 
				form(class='form' name='post' action='/login' method='get')
					input(type='submit' value='l o g i n')
			div.twoForms
				form(class= 'form' name= 'post' action='/user/new' method='get')
					input(type='submit' value='r e g i s t e r')



//- w^h^a^t ^ w^o^u^l^d ^ y^o^u ^ t^e^l^l ^ y^o^u^r ^ y^o^u^n^g^e^r ^ s^e^l^f^? 
