doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/styles.css', type ='text/css')
	body
		br
		p= message
		br
		br
		div(class= 'boxes' id= 'box1')
			p#boxLink(href='/' ) autumn
		div(class= 'boxes' id= 'box2')
			p#boxLink(href='/' ) winter
		div(class= 'boxes' id= 'box3')
			p#boxLink(href='/' ) spring
		div(class= 'boxes' id= 'box4')
			p#boxLink(href='/' ) summer