doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
		link(rel='stylesheet', href='/styles.css', type ='text/css')
	body
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		div.bodydiv
		div.bodyTextdiv
			div(class='links') 
				a(href='/') home
				br
				a(href='/user/choice') userpage
				br
				a(href='/logout') logout
			div(class='back')
				a(href='/user/profile') back				
			br
			p= message
			br 
			br
			br
			br
			br
			br
			br
			br
			form(class= 'edit' name= 'post' action='/user/editpassword' method='post')
				label n e w ^ p a s s w o r d
				input(type='text' name='password' autocomplete='off' value='new password')
				br
				br
				br
				input(type='submit' value='c o n f i r m')
