doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/styles.css', type = 'text/css')
	body
		div.bodydiv
		div.bodyTextdiv
			div(class='links') 
				a(href='/') home
				br
				a(href='/user/profile') user profile
				br
				a(href='/logout') logout
			div(class='back')
				a(href='/user/choice') back
			br
			br
			br
			br
			br
			br
			br
			br
			br
			p #{latestID.advice}
			br
			br
			p Age: #{latestID.age} 
			//- p #{randomID.advice}
			br
			div.twoForms
				form(class='form' name='random' id='random' action='/userpageAu' method='get')
					input(type='submit' value='r a n d o m ^ a d v i c e')
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br