doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
		link(rel='stylesheet', href='/styles.css', type ='text/css')
	body
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		div.bodydiv
		div.bodyTextdiv
			div(class='links') 
				a(href='/') home
				br
				a(href='/user/choice') userpage
				br
				a(href='/logout') logout
			br
			br
			br
			p#headline u^s^e^r ^ p^r^o^f^i^l^e
			br
			br
			p= message
			br
			br
			p #{user.name}
			br
			br
			br
			br
			p#headline2 w^h^a^t ^ i ^ w^o^u^l^d ^ t^e^l^l ^ m^y^s^e^l^f^:
			br
			p #{user.advice}
			br
			br
			div.twoForms 
				form(class='form' name='edit' action='/user/edit' method='get')
					input(type='submit' value='e d i t ^ p r o f i l e')
			div.twoForms
				form(class='form' name='edit password' action='/user/editpassword' method='get')
					input(type='submit' value='e d i t ^ p a s s w o r d')
			div.twoForms
				form(class='form' name='delete account' action='/user/delete' method='get')
					input(type='submit' value='d e l e t e ^ a c c o u n t')
			br
			br
			br
